<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>what2cook</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<!--    <link href="../static/css/style.css" rel="stylesheet" type="text/css">-->
<!--    <link href="https://unpkg.com/vue@3.0.5"/>-->
    <script src="https://unpkg.com/vue@next" defer></script>
    <script th:src="@{/js/app.js}" type="text/javascript"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<!--    <link href="../static/js/app.js" type="text/javascript"/>-->
</head>

<body id="rezeptApp">
<div id="wrapper">
    <header>
        <div class="flex">
            <div class="logo">
                <img src="https://cdn.onlinewebfonts.com/svg/img_174839.png" alt="what2cook" style="width:50px;height:60px;">
                <a href="#">what2cook<span>randome recipes</span></a>
            </div>
            <nav>
                <button id="nav-toggle" class="hamburger-menu">
                    <span class="strip"></span>
                    <span class="strip"></span>
                    <span class="strip"></span>
                </button>
                <ul id="nav-menu-container" style="display: none;">
                    <li><a href="#">Startseite</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Registrieren</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="food-image">
            <img src="https://www.themealdb.com/images/media/meals/wxuvuv1511299147.jpg">
            <div class="food-marketing-bar">
                <h3>Du weißt nicht was du kochen sollst?</h3>
                <h1>hol dir ein zufälliges Rezept</h1>
            </div>
        </section>

        <section class="random-recipe">
            <div class="flex">
                <div class="titelbild">
                    <img v-bind:src="strMealThumb"/>
                </div>
                <div class="rezept">
                    <h1>Gericht: {{strMeal}}</h1>
                    <h3>Kategorie: {{strCategory}}</h3>
                    <h3>Küche: {{strArea}}</h3>
                    <h5>Zutaten & Menge</h5>
                    <ul>
                        <li v-for="zutat in zutatenListe">{{zutat.ingredient}} - {{zutat.measure}}</li>
                    </ul>
                    <h5>Zubereitung: </h5>
                    <p>{{strInstructions}}</p>
                    <button v-on:click="getRecipe()">Random Rezept</button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="flex">
            <small>&copy; 2021 Projekt im Modul Webtechnologien an der HTW Berlin</small>
            <ul>
                <li>
                    <a href="https://github.com/yannikmity/what2cook">
                        <img src="../img/GitHub-Mark-32px.png" alt="GitHub"/>
                    </a>
                </li>

            </ul>
        </div>
    </footer>
</div>
</body>
<!--<script th:src="@{/js/app.js}" type="text/javascript"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue" type="module"></script>-->
<!--<script src="../static/js/app.js" type="text/javascript"></script>-->
<script>
    document.getElementById('nav-toggle').addEventListener('click', function () {
        let navMenu = document.getElementById('nav-menu-container');
        navMenu.style.display = navMenu.offsetParent === null ? 'block' : 'none';
    })
</script>
</html>