<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--Responsive metatag-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue@3.0.5"></script>

    <title>what2cook</title>
</head>
<body>
<div id="wrapper">
    <header>
        <div class="flex">
            <div class="logo">
                <img src="https://cdn.onlinewebfonts.com/svg/img_174839.png" alt="what2cook" style="width:50px;height:60px;">
                <a href="#">what2cook<span>randome recipes</span></a>
            </div>
            <nav>
                <button id="nav-toggle" class="hamburger-menu">
                    <span class="strip"></span>
                    <span class="strip"></span>
                    <span class="strip"></span>
                </button>
                <ul id="nav-menu-container" style="display: none;">
                    <li><a href="register">Registrieren</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <section class="food-image">
            <img src="https://www.themealdb.com/images/media/meals/qxutws1486978099.jpg">
            <div class="food-marketing-bar">
                <h3>hol dir ein zufälliges rezept</h3>
                <h1>melde dich an:</h1>
            </div>
        </section>

        <section class="random-recipe">
            <div class="flex">
                <div class="rezept">
                    <form>
                        <input class="contact-form" type="text">
                        <input class="contact-form" type="text">
                        <button class="button">LOGIN</button>
                    </form>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="flex">
            <small>&copy; 2021 Projekt im Modul Webtechnologien an der HTW Berlin</small>
            <ul>
                <li>
                    <a href="https://github.com/yannikmity/what2cook">
                        <img src="../img/GitHub-Mark-32px.png" alt="GitHub"/>
                    </a>
                </li>

            </ul>
        </div>
    </footer>

</div>
</body>
</html>

