<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrieren</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="wrapper">
    <header>
        <div class="flex">
            <div class="logo">
                <img src="https://cdn.onlinewebfonts.com/svg/img_174839.png" alt="what2cook" style="width:50px;height:60px;">
                <a href="#">what2cook<span>randome recipes</span></a>
            </div>
            <nav>
                <button id="nav-toggle" class="hamburger-menu">
                    <span class="strip"></span>
                    <span class="strip"></span>
                    <span class="strip"></span>
                </button>
                <ul id="nav-menu-container" style="display: none;">
                    <li><a href="index">Startseite</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Registrieren</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <footer>
        <div class="flex">
            <small>&copy; 2021 Projekt im Modul Webtechnologien an der HTW Berlin</small>
            <ul>
                <li>
                    <a href="https://github.com/yannikmity/what2cook">
                        <img src="../img/GitHub-Mark-32px.png" alt="GitHub"/>
                    </a>
                </li>

            </ul>
        </div>
    </footer>
</div>
</body>
</html>