<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrieren</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div align="center">
        <h1>Registrieren</h1>
    </div>

<form action="#" th:action="@{/register}" th:object="${nutzer}" th:method="post">

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label>First Name:</label>
            <input type="text" th:field="*{firstName}"/>
        </div><br>

        <div class="col-auto">
            <label>Last Name:</label>
            <input type="text" th:field="*{lastName}">
        </div><br>

        <div class="col-auto">
            <label>Email: </label>
            <input type="text" th:field="*{email}">
        </div><br>

        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
      Must be 8-20 characters long.
    </span>

        </div>
    </div>
    <button type="submit">Register</button>
    </div>
</form>

</body>
</html>