<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrieren erfolgreich</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<div align="center">
    <h1>Herzlich Willkommen!</h1>

    <div class="alert alert-success" role="alert">
        <span>erfolgreich registriert als </span>
        <span th:text="${nutzer.firstName}"/>
    </div>
</div>

</body>
</html>